.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

ul {
  list-style: none;
}

.correct{
  background-color: greenyellow;
}

.wrong{
  background-color: red;
}

